<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset=utf-8" />
    <title>{% block title %}Tasks{% endblock %} - Simple task manager</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {#<link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>#}
        {#<link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>#}
        {#<link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />#}
    {% endblock %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

{% block body %}{% endblock %}

{#<div class="container">#}
{##}
    {#<div class="page-header text-center">#}
        {#<h2>{% block blog_title %}<a href="{{ path('shagiev_simple_task_manager_homepage') }}">Simple task manager</a>{% endblock %}</h2>#}
        {#<h3>{% block blog_tagline %}{% endblock %}</h3>#}
    {#</div>#}

    {#<div class="row">#}
        {#<div class="col-md-6 col-md-offset-3">#}
            {#{% block body %}{% endblock %}#}
        {#</div>#}
    {#</div>#}
{##}
{#</div>#}
{% block javascripts %}{% endblock %}
</body>
</html>
{#
<!--
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
-->
#}