{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/shagievsimpletaskmanager/css/tasks.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/shagievsimpletaskmanager/js/app.js') }}"></script>
{% endblock %}

{#{% block sidebar %}#}
    {#Sidebar content#}
{#{% endblock %}#}