span.title {
    word-break: break-all;
    /*margin-right: 80px;*/
    /*margin-left: 70px;*/
    display: inline;
}

.show-buttons {
    margin: 10px auto;
}

.inline {
    display: inline-block;
}

.cancel-edit-button {
    font-size: smaller;
}

.left-padded {
    padding-left: 15px;
}

.done {
    background-color: lightgreen;
}
.done span.title {
    text-decoration: line-through;
}

.bottom-margined {
    margin-bottom: 20px;
}

.tasks {
    padding-bottom: 9px;
    font-size: 18px;
    /*margin: 5px 0 5px;*/
}

.tasks .media {
    /*border-left: 1px dotted #000;*/
    /*border-bottom: 1px dotted #000;*/
    margin-bottom: 5px;
    padding-left: 10px;
}

.tasks .comment-meta a {
    font-size: 12px;
    color: grey;
    font-weight: bolder;
    margin-right: 5px;
}

p {
    font-size: 18px;
}
