{% extends 'ShagievSimpleTaskManagerBundle::layout.html.twig' %}


{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>Contacts</h1>
    </header>
    <article>
        <p>
            Email: <a href="mailto:lenarshagiev@gmail.com">lenarshagiev@gmail.com</a>
        </p>
    </article>
{% endblock %}