
{{ form_start(form, {
    'action': path('shagiev_simple_task_manager_task_save', {'parentId': parentId}),
    'method': 'POST',
    'attr': {'class': 'task inline form-inline', 'role': 'form'}
}) }}
    {{ form_errors(form) }}
    {{ form_errors(form.title) }}
    <div class="input-group">
        {{ form_widget(form.title, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'What are you going to do?',
                'autofocus': autofocus
            }
        }) }}
        <span class="input-group-btn">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
        </span>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
