{% extends 'ShagievSimpleTaskManagerBundle::layout.html.twig' %}

{% block body %}

<div class="container">
    <div class="page-header text-center">
        <h2>{% block blog_title %}<a href="{{ path('shagiev_simple_task_manager_homepage') }}">Simple task manager</a>{% endblock %}</h2>
        <h3>{% block blog_tagline %}{% endblock %}</h3>
    </div>

    <div class="col-md-6 col-md-offset-3 tasks">

        <div class="btn-group show-buttons center-block">
            <a href="{{ path('shagiev_simple_task_manager_show', {'option': 'all'}) }}" type="button"
               class="btn btn-default{% if show == 'all' %} active{% endif %}">All</a>
            <a href="{{ path('shagiev_simple_task_manager_show', {'option': 'active'}) }}" type="button"
               class="btn btn-default{% if show == 'active' %} active{% endif %}">Active</a>
            <a href="{{ path('shagiev_simple_task_manager_show', {'option': 'completed'}) }}" type="button"
               class="btn btn-default{% if show == 'completed' %} active{% endif %}">Completed</a>
        </div>

        <div class="bottom-margined text-center">
            {% include 'ShagievSimpleTaskManagerBundle:Default:form.html.twig' with {
                'parentId': null,
                'autofocus': true,
                'form': forms['new']['new'],
            } %}
        </div>

        <div class="row">

            {% if tasks %}
                {% include 'ShagievSimpleTaskManagerBundle:Default:tasks.html.twig' with {
                    'tasks': tasks,
                    'forms': forms
                } %}
            {% else %}
                <p>There are no tasks</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}

