
<div>
{% for task in tasks %}

    <div class="task media-heading {% if task.isDone %} done{% endif %}" data-id="{{ task.id }}">
        <button class="btn btn-default btn-xs" type="button" data-toggle="collapse"
                data-target="#collapse-{{ task.id }}" aria-expanded="false" aria-controls="collapseExample">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
        {% if task.isDone %}
            <a href="{{ path('shagiev_simple_task_manager_task_undone', {'taskId': task.id}) }}">
                <span class="glyphicon glyphicon-check"></span>
            </a>
        {% else %}
            <a href="{{ path('shagiev_simple_task_manager_task_done', {'taskId': task.id}) }}">
                <span class="glyphicon glyphicon-unchecked"></span>
            </a>
        {% endif %}
        <span class="task-display">
            <span class="title">{{ task.title }}</span>
            {#{{ task.dueTo|date (' h:iA Y-m-d') }}#}
        </span>
        <span class="task-form" style="display:none;">
            {% include 'ShagievSimpleTaskManagerBundle:Default:form.html.twig' with {
                'parentId': task.parent ? task.parent.id : null,
                'autofocus': false,
                'form': forms[task.id],
            } %}
            <a href="#" class="inline cancel-edit-button" data-id="{{ task.id }}">Cancel</a>
        </span>
        <span class="pull-right">
            <a role="button" data-toggle="collapse" href="#subtask-{{ task.id }}"
               aria-expanded="false" aria-controls="collapseExample">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a href="#" class="edit-button" data-id="{{ task.id }}">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a href="{{ path('shagiev_simple_task_manager_task_delete', {'taskId': task.id}) }}"
               onclick="return confirm('Are you sure?');">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </span>
    </div>

    <div class="panel-collapse collapse in" id="collapse-{{ task.id }}">

        <div class="media-left">
        </div>


        <div class="media-body left-padded">

            <div class="collapse" id="subtask-{{ task.id }}">
                {% include 'ShagievSimpleTaskManagerBundle:Default:form.html.twig' with {
                'parentId': task.id,
                'autofocus': false,
                'form': forms['new'][task.id],
                } %}
            </div>

            {% if task.subtasks|length %}
                {% include 'ShagievSimpleTaskManagerBundle:Default:tasks.html.twig' with {
                    'tasks': task.subtasks,
                } %}
            {% endif %}


        </div>
    </div>

{% endfor %}
</div>
